.imageBox {
  height: 360px;
  width: 391px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  border-radius: 4px;
  padding: 8px 8px;
}

.imageCard {
  width: 375px;
  object-fit: cover;

  height: 250px;
  border-radius: 4px;
}

.imageDescription {
  height: 100px;
  padding: 10px 12px;
  background-color: aliceblue;
}
